.jumbotron {
  display: flex;
  flex-direction: column;
  margin: -2em -4em;
  min-height: 500px;
  color: #fdfdfd;
  box-shadow: inset -4px 3px 7px 5px #111, inset 0 0 0.4em;
  overflow: hidden;
  z-index: 1;
}
.jumbotron-animate {
  transition: background 0.5s ease-in-out;
}

.jumbotron-bg-anim1 {
  background: url("../images/trollskogen-anim1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim3 {
  background: url("../images/trollskogen-anim3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim4 {
  background: url("../images/trollskogen-anim4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim5 {
  background: url("../images/trollskogen-anim5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim6 {
  background: url("../images/trollskogen-anim1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim7 {
  background: url("../images/trollskogen-anim7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim8 {
  background: url("../images/trollskogen-anim8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim9 {
  background: url("../images/trollskogen-anim9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim10 {
  background: url("../images/trollskogen-anim10.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim11 {
  background: url("../images/trollskogen-anim11.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim12 {
  background: url("../images/trollskogen-anim12.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-home {
  background: url("../images/trollskogen-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-home {
  background: url("../images/trollskogen-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-donate {
  background: url("../images/trollskogen-donate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-racing {
  background: url("../images/trollskogen-racing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron a {
  color: #fdfdfd;
}

.jumbotron h1 {
  font-size: 32px;
}
.decription {
  margin: 1em 2em 0 3em;
  overflow: wrap;
  flex-grow: 1;
}

.server-links {
  margin-bottom: 2em;
  align-self: center;
  justify-items: flex-end;
  font-size: 22px;
}

@media only screen and (min-width: 1024px) {
  .jumbotron {
    margin: -2em -17em;
  }

  .decription {
    margin: 2em 16em 0;
  }
}
