.jumbotron {
  display: flex;
  flex-direction: column;
  margin: -2em -4em;
  min-height: 500px;
  color: #fdfdfd;
  box-shadow: inset -4px 3px 7px 5px #111, inset 0 0 0.4em;
  overflow: hidden;
  z-index: 1;
}
.jumbotron-animate {
  transition: background 0.5s ease-in-out;
}

.jumbotron-animate::after {
  content: url("../images/trollskogen-anim1.png")
    url("../images/trollskogen-anim3.png")
    url("../images/trollskogen-anim6.png")
    url("../images/trollskogen-anim7.png")
    url("../images/trollskogen-anim8.png");
  display: none;
}

.jumbotron-bg-anim1 {
  background: url("../images/trollskogen-anim1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim3 {
  background: url("../images/trollskogen-anim3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim6 {
  background: url("../images/trollskogen-anim6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim7 {
  background: url("../images/trollskogen-anim7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-anim8 {
  background: url("../images/trollskogen-anim8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-home {
  background: url("../images/trollskogen-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-donate {
  background: url("../images/vip.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-ban {
  background: url("../images/prison.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-bg-racing {
  background: url("../images/trollskogen-racing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron a {
  color: #fdfdfd;
}

.transparent-bg {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0 0.25em 0.25em 0.5em;
}

.jumbotron h1 {
  font-size: 32px;
}
.decription {
  margin: 1em 2em 0 3em;
  overflow: wrap;
  flex-grow: 1;
}

.server-links {
  margin-bottom: 2em;
  align-self: center;
  justify-items: flex-end;
  font-size: 22px;
}

@media only screen and (min-width: 1024px) {
  .jumbotron {
    margin: -2em -17em;
  }

  .decription {
    margin: 2em 16em 0;
  }
}
