.staff-member {
    width: 80px;
}

.staff-list {
    display: flex;
    flex-flow: row wrap;
}

.staff-member:nth-child(2n) {
    page-break-after: always;
    break-after: always; 
  }

.staff-img {
    height: auto;
}

@media only screen and (max-width: 600px) {
    .post-right {
        margin-left: 0;
    }
}
