.staff-list {
    display: flex;
    flex-direction: row;
}

.staff-member {
    display: inline-flex;
    flex-direction: column;    
}

.staff-row {
    min-width: 100%;
}

.staff-member {
    margin-right: 0.5em;
}

@media only screen and (max-width: 600px) {
    .post-right {
        margin-left: 0;
    }

    .post-area {
        display: inline-flex;
        flex-direction: column;
    }
    

    .post {
        width: 100%;
    }
}
