.donate-info-text {
  padding-top: 0.5em;
}

.donate-content {
  width: 25em;
  padding-top: 4em;
  align-items: left;
  flex-wrap: wrap;
}

.donations-list {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  justify-content: left;
}

.donate-content:nth-child(even) {
  margin-left: 1em;
}

.info-box-container {
  margin: 0;
}

.color-gold {
  color: #d9b232;
}

.color-purple {
  color: #aa00aa;
}

@media only screen and (max-width: 860px) {
  .donations-list {
    flex-direction: column;
  }

  .donate-content {
    width: auto;
  }

  .donate-content > .info-box-container {
    width: auto;
  }

  .donate-content:nth-child(even) {
    margin-left: 0;
  }
}
