.donate-info-text {
  padding-top: 0.5em;
}

.donate-content {
  width: 25em;
  padding-top: 4em;
}

.donations-list {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  justify-content: center;
}

.donate-content:nth-child(even) {
  margin-left: 1em;
}

.info-box-container {
  margin: 0;
}

.color-gold {
  color: #d9b232;
}

.color-purple {
  color: #aa00aa;
}

@media only screen and (max-width: 860px) {
  .donations-list {
    flex-direction: column;
    align-items: center;
  }

  .donate-content:nth-child(even) {
    margin-left: 0;
  }
}
