.banned-content {
  padding-top: 4em;
}

.ban-list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.ban-list-expire {
  width: 50%;
}

.ban-list-banned-name {
  width: 20%;
}

.ban-list-issuer-name {
  width: 20%;
}

.ban-list-item {
  padding: 0.5em;
  align-items: flex-start;
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}
.ban-list-item:nth-child(odd):not(:first-child) {
  background-color: #afeaaa;
}

.ban-list-item-header {
  color: #fdfdfd;
  background-color: #41924b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ban-list-field {
  align-self: flex-start;
  box-sizing: border-box;
  flex-basis: auto;
}

.ban-list-field:not(:first-child) {
  margin-left: 1em;
}

@media only screen and (min-width: 1240px) {
  .ban-list {
    width: 60%;
  }
}
