.banned-content {
  padding-top: 4em;
}

.user-ban-list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.ban-container:nth-child(odd) {
  background-color: #afeaaa;
}

.grow-1 {
  flex-grow: 1;
}

.banned-user-header {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
}

.back-link {
  margin-top: 1em;
  text-decoration: none;
  font-size: 18px;
}

.ban-container {
  border-radius: 5px;
  margin: 0.5em 0;
  padding: 0.5em;
  line-height: 1.4em;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.ban-list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.ban-list-field {
  align-self: flex-start;
  box-sizing: border-box;
  flex-basis: auto;
}

.ban-list-banned-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30%;
  overflow: hidden;
}

.float-right {
  float: right;
}

.ban-list-banned-name a {
  color: black;
}

.ban-list-expire {
  width: 30%;
  flex-grow: 1;
}

.ban-list-more {
  width: 10%;
  align-self: center;
}

.ban-list-issuer-name {
  width: 40%;
}

.ban-list-item {
  overflow: hidden;
  color: black;
  text-decoration: none;
  width: 100%;
}

.ban-list-item:hover {
  cursor: pointer;
}

.ban-list-item:nth-child(odd):not(:first-child) {
  background-color: #afeaaa;
}

.ban-item-header-container {
  overflow: hidden;
  padding: 0.5em;
  align-items: flex-start;
  display: inline-flex;
  flex-flow: row wrap;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
}

.ban-list-item-header {
  color: #fdfdfd;
  background-color: #41924b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ban-item-body-content {
  padding: 1em 0.5em;
}

.ban-list-field:not(:first-child) {
  padding-left: 1em;
}

.right-arrow {
  transform: rotate(270deg);
}

@media only screen and (min-width: 1240px) {
  .ban-list {
    width: 60%;
  }
}
